# Python Basics

## Variables
In python variables have dynamic types which means we don't need to write the type of the variable before the variable name

In [ ]:
age = 20
is_active = True
message = "Hello World"
age = 'hi there'
print(age, is_active, message)

hi there True Hello World

## Data Types

### Integers & floats

In [ ]:
sum = 100
real_num = 100.015

### Strings

In [ ]:
message = "hello world"
s1 = 'hi there'

### Booleans

In [ ]:
b1 = True
b2 = False

### Lists
you can think as lists as vectors in c++, or like a dynamic array

In [ ]:
l1 = [] # empty list
l2 = ['hello', 14, True, 15.0] #can contain multiple data types

### Useful list functions

In [ ]:
l3 = []
l3.append(5)
l3.append(10)
l3.append(1)
print(sorted(l3))
print(max(l3))
print(min(l3))
print(len(l3))
l3.append([1,2,4]) # we can append a list into a list 
##accessing a list
print(l3)
print(l3[3][0])

[1, 5, 10]
10
1
3
[5, 10, 1, [1, 2, 4]]
1

### Tuples
immutable data structure

In [ ]:
t1 = (1,2)
print(t1[0])

1

### Dictionaries 
key pair

In [ ]:
d1 = {
    "k1" : "12",
    "k2" : 13
}
d2 ={
    1: 12,
    3:{
        "asd":11
    }
}

### Useful dictionary functions

In [ ]:
print(d2.keys())
print(d2.values())
print(d1.get('k1'))
print(d1.get('k4'))

dict_keys([1, 3])
dict_values([12, {'asd': 11}])
12
None

## Operators

In [ ]:
print(10 + 4)
print( 2 - 10)
print(10/6)
print(10//6)
print(5 * 8)
print(100%2)
print(4**2)
print(True and False)
print(True or False)
print(6 == 9)
print(5 < 6)
print('c' in 'cool')

14
-8
1.6666666666666667
1
40
0
16
False
True
False
True
True

In [ ]:
i = 9
i += 1
i -= 1
i *= 3
i %= 2

## Control Flow

In [ ]:
color = 'red'

if color == 'red':
  print('red')
elif color == 'blue':
  print('blue')
else:
  print('NA')

red

### Loops

In [ ]:
i = 0
while i < 10:
  print(i)
  i += 1

In [ ]:
for i in range(0,10):
  print(i)

### Looping over a list

In [ ]:
l1 = ['a', 'b', 'c', 1,2,3,4,4]
for i in l1:
  print(i)

## Functions

In [ ]:
def sum(a, b):
  return a +b

def play_game():
  print("playing game")

def is_smaller(a,b):
  return a <b
print(sum(2, 10))
play_game()
print(is_smaller(1,2))

### Recursion
a functions that calls itself

In [ ]:
def fact(n):
  if n < 1:
    return 1
  else:
    return n * fact(n - 1)

print(fact(5))

## Input
get input from user

In [ ]:
user_input = input("enter text here")
print(user_input)
age = int(input('enter age'))

## Exeption handling

In [ ]:
try:
  user_input = input('enter age: ')
  user_input += 10
  print(age)
except:
  print('some error')

i = 10
try:
  i/0
except ZeroDivisionError:
  print('0 div')